In [1]:
## import pandas and sklearn for cohen's kappa
import pandas as pd
from sklearn.metrics import cohen_kappa_score

In [2]:
## Load in the data into a dataframe called df
df = pd.read_csv('surgbot-results.csv')
df

,Rater1,R1_Cat1,R1_Cat2,R1_Cat3,R1_Cat4,R1_Cat5,R1_Total,Rater2,R2_Cat1,R2_Cat2,R2_Cat3,R2_Cat4,R2_Cat5,R2_Total
0,A1,2,2,0,1,0,5,B1,1,2,0,0,0,3
1,A2,0,1,0,0,0,1,B2,1,2,1,1,1,6
2,A3,0,1,0,0,0,1,B3,0,2,2,2,0,6
3,A4,0,0,0,0,0,0,B4,0,2,2,2,1,7
4,A5,2,0,0,0,0,2,B5,2,2,2,2,0,8
5,A6,0,0,0,0,0,0,B6,0,1,0,0,0,1
6,A7,1,0,1,0,0,2,B7,0,2,0,1,0,3
7,A8,0,0,0,0,2,2,B8,0,2,1,2,0,5
8,A9,0,0,0,0,0,0,B9,0,2,2,2,1,7
9,A10,1,2,0,0,0,3,B10,1,2,2,2,0,7
10,A11,0,1,0,0,0,1,B11,0,2,2,2,0,6
11,A12,1,0,0,0,0,1,B12,0,0,0,0,0,0
12,A13,0,0,0,0,0,0,B13,0,2,2,2,0,6
13,A14,2,2,1,1,0,6,B14,2,2,0,0,0,4
14,A15,0,2,2,2,0,6,B15,1,2,2,2,0,7
15,A16,0,1,0,0,0,1,B16,0,0,0,0,0,0
16,A17,0,0,0,0,0,0,B17,0,1,0,0,0,1
17,A18,0,1,0,1,0,2,B18,2,2,2,1,0,7
18,A20,2,0,1,1,0,4,B20,0,2,2,1,0,5

In [ ]:
## In the column-names

In [7]:
## Create a list of columns relevant to each rater
## rater1_columns should be columns that contain 'R1' but do not include 'Total'
## rater2_columns should be columns that contain 'R2' but do not include 'Total'

rater1_columns = [col for col in df.columns if 'R1' in col and 'Total' not in col]
rater2_columns = [col for col in df.columns if 'R2' in col and 'Total' not in col]

['R1_Cat1', 'R1_Cat2', 'R1_Cat3', 'R1_Cat4', 'R1_Cat5']

In [8]:
## Now we have six columns for each rater
## Each columns corresponds to a category
## For each category, we will calculate the cohen's kappa

## For each category, we will calculate the cohen's kappa


for r1, r2 in zip(rater1_columns, rater2_columns):
    print(f'Category: {r1}')
    print(f'Cohen\'s Kappa: {cohen_kappa_score(df[r1], df[r2])}')
    print('\n')

Category: R1_Cat1
Cohen's Kappa: 0.31088082901554404


Category: R1_Cat2
Cohen's Kappa: 0.01845018450184488


Category: R1_Cat3
Cohen's Kappa: -0.029166666666666785


Category: R1_Cat4
Cohen's Kappa: 0.09523809523809523


Category: R1_Cat5
Cohen's Kappa: -0.041095890410958846

In [11]:
## Next we will calculate the average cohen's kappa for all categories

## First, flatten the ratings into two long lists (one for each rater) to compute an overall IRR
all_rater1_ratings = df[rater1_columns].values.flatten()
all_rater2_ratings = df[rater2_columns].values.flatten()

## Now calculate the overall cohen's kappa
print(f'Overall Cohen\'s Kappa: {cohen_kappa_score(all_rater1_ratings, all_rater2_ratings)}')

Overall Cohen's Kappa: 0.12458532989310733